*{
	padding: 0;
	margin: 0;
}

body{
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
}

/*#dialogBox{
	position: relative;
	font-size: 12pt;
	width: 300px;
	height: 180px;
	background: #F2F5F5;  Standard syntax 
	box-shadow: 0.5rem 0.5rem 0.8rem #C6D3CB;
	border-radius: .5rem;
	margin-left: auto;
	margin-right: auto;
	top: 20rem;
}*/

#question{
	font-weight: 400;
}

.buttons{
	background: linear-gradient(#e9e9e9, #C5C5C5);
	border-radius: 5px;
	margin:3px;
	font-weight: 600;
}

#agree{
	/*background: linear-gradient(#e9e9e9, #C5C5C5);*/
}
#agree:hover{
	background: #A9E398;
}

#cancel{

}
#cancel:hover{
	background: #E3919A;
}


